version: '3.9'

services:
  backend:
    image: salehch/backend:latest
    platform: linux/amd64   # Force x86_64 to work on ARM Macs
    container_name: backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    restart: always
    networks:
      - monitoring

  frontend:
    image: salehch/frontend:latest
    platform: linux/amd64
    container_name: frontend
    ports:
      - "8080:8080"
    environment:
      - API_BASE_URL=http://backend:8000
    depends_on:
      - backend
    restart: always
    networks:
      - monitoring

  prometheus:
    image: prom/prometheus:latest
    platform: linux/amd64
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"
    networks:
      - monitoring
    depends_on:
      - backend

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana-storage:/var/lib/grafana
    networks:
      - monitoring
    depends_on:
      - prometheus

volumes:
  grafana-storage:

networks:
  monitoring:
    driver: bridge
