name: Deploy Documentation
on:
  push:
    branches:
      - get_docs

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12

      - name: Install Dependencies
        run: |
          pip install mkdocs mkdocs-material "mkdocstrings[python]"
          pip install -r backend/requirements.txt 

      - name: Deploy to GitHub Pages
        run: mkdocs gh-deploy --force